@use "styles/colors" as *;

.dark-green {
  color: $dark-green;
}

.clear-green {
  color: $clear-green;
}

.text-white {
  color: $text-white;
}

.clear-beige {
  color: $clear-beige;
}

.beige {
  color: $beige;
}

.clear-brown {
  color: $clear-brown;
}

.dark-brown {
  color: $dark-brown;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background-color: #F0EBE3;
}
