<!-- Cards with media area -->
<mat-card class="erza-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="clear-beige"><strong>Erza</strong></mat-card-title>
      <mat-card-subtitle >
        <p class="clear-beige">
          <strong >Razza:</strong> Mezz’elfo <br>
          <strong>Classe: </strong> Guerriero <br>
          <strong>Allineamento:</strong> Legale Buono <br>
          <strong>Backgroud:</strong> Schiava
        </p>
      </mat-card-subtitle>
      <img mat-card-xl-image src="/Erza.jpeg" alt="Immagine di Erza">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="clear-beige">
    {{longText}}
  </mat-card-content>
</mat-card>
